<p>1. Captura de Pedidos. Cabera/detalle.</p>

<p>2. Reporte de Pedidos (despliegue de una tabla).</p>

<p>3. Reporte de Adeudos.</p>

<p>4. Vistas con diseño responsivo.</p>
<%= image_tag("dbd.png", width: "100%")%>
