<div class="field">
  <%= f.collection_select(:material_id, Material.all, :id, :descrip, {:prompt => "Seleccione"}, {:title => "Material"}) %>       <%= f.link_to_remove "[ - ]", :class => 'btn btn-xs btn-danger', :title => "Remover"%>  
</div>